{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

<!-- Page title here -->
{% block page_title %}eStore | Password Reset Page{% endblock %}

<!-- Page heading here -->
{% block page_heading %}Reset your password{% endblock %}

<!-- Reset password form block content here -->
{% block reset_form %}
<!-- Reset password Form -->
<div class="row justify-content-center">
    <div class="col-10  col-md-3 centre_alignment col_content">
        <!-- Description of Injection -->
        <form method="POST" class="uniForm text-white">
            {% csrf_token %}
            {{ form.email.errors }}
            <label for="id_email"></label>
            {{ form.email|as_crispy_field }}

            <button type="submit" class="btn btn-success">Reset Password <i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
</div>
{% endblock %}