{% extends 'base.html' %}
<!-- Page title here -->
{% block page_title %}eStore | Password Reset Page{% endblock %}
<!-- Page heading here -->
{% block page_heading %}Reset your password{% endblock %}
<!-- Login block content here -->
{% block content %}
<!-- Login Form -->
<form method="POST">
    <p>Please enter your email address:</p>
    {% csrf_token %}
    {{ form.email.errors }}
    <p>
        <label for="id_email">Email Address:</label>
        {{ form.email }}
        <button type="submit">Reset Password</button>
    </p>
</form>
{% endblock %}