{% extends 'base.html' %}
{% load static from staticfiles %}

{% load crispy_forms_tags %}
<!-- Page title here -->
{% block page_title %}Authentic Irish Sweaters | Products for Sale {% endblock %}
<!-- Page heading here -->
{% block page_heading %}
<div>
    <p>Choose from a range of different Celtic designs</p>
</div>
{% endblock %}

{% block product_content %}

<div class="">
    {% for product in products %}
    <div class="display panel panel-default">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p>{{ product.price }}</p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
