{% extends 'shop.html' %}
{% load static from staticfiles %}

{% load crispy_forms_tags %}

<!-- Page title here -->
{% block page_title %}Products for Sale{% endblock %}

<!-- Page heading here -->
{% block page_heading %}
<div class="row justify-content-center">
    <div class="col-10 centre_alignment col_content">
        <!-- Page Headline, to identify to User the page they are on -->
        <h2 class="text-dark">Choose from a range of different Celtic designs</h2>
    </div>
</div>
{% endblock %}

<!-- Search for Products here -->
{% block search_bar %}

<div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-4 center-block">
        <form action="{% url 'search' %}" method="get">
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="q" placeholder="Search Products here...">
                <div class="input-group-append">
                    <button type="search" class="btn btn-outline-secondary">Search <i
                            class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}


{% block product_content %}

<div class="row justify-content-around row_products">
    {% for product in products %}
    <div class="col-10 col-md-6 col-lg-4 text-center product_padding">
        <div class="card">
            <div class="product_shop" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <p><strong>{{ product.name }}</strong></p>
            <p class="product-description">{{ product.description }}</p>
            <p class="price">€ {{ product.price }}</p>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity"
                        required="true">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}