/* Customised CSS  */

/* Google Fonts import link  */

@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

/* body CSS  */

body {
    font-family: 'Dosis', sans-serif;
    
}

/* Navbar customised css  */
.navbar {
    background-color: white;
}

/* Template headings  */

.message_row {
    z-index: 5;
}

/* Customised Jumbotron css  */
hr {
    
    border-top: 1px solid white;
}

/* Background Image */

.bg_image {
    background: url("/static/img/bg1.jpg") no-repeat center center fixed;
    background-color: #f5f6fa;;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: auto;
    z-index: -1;
    padding: 0px;
    overflow: hidden;
        
}

/* bg image for featured products row  */

.bg_image_featured {
    background-color: #f1f2f6;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin: auto;
    z-index: -1;
    padding: 0px;
    overflow: hidden;
}

/* jumbotron  */

.jumbotron {
    background-color: rgba(255, 255, 255,0.1);
}

.centre_alignment {
    z-index: 10;
    text-align: center;
}

/* Background Image overlay  */

.opaque-overlay {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Search btn */
.search_btn {
    font-size: 15px;
}

/* badge for Cart Navbar Item */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/* Product Image, description, etc */

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}



.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/* Footer CSS */

.footer {
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    background-color: #c8d6e5;
    margin-right: 0px;
    margin-left: 0px;
}

/* .top_buffer {
    margin-top: 200px;
} */

.col_content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 50px;
}

.socialmedia_icon {
    font-size: 10px;
}

/* text color for form hint in registration */

.form-text {
    color: white;
}




