/* Customised CSS  */

@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    background-color: #DC3546;
}



.bg_image {
    background: url("/static/img/bg1.jpg") no-repeat center center fixed;
    background-color: #2ecc71;
    background-size: cover;
    height: 350vh;
    width: 100%;
    margin: auto;
    z-index: -1;
    padding: 0px;
    overflow: hidden;
        
}

.centre_alignment {
    z-index: 10;
    text-align: center;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.top_buffer {
    margin-top: 200px;
}

.col_content {
    padding-left: 20px;
    padding-right: 20px;
}


