{% extends 'mycart_base.html' %}
{% load static from staticfiles %}

{% load crispy_forms_tags %}

<!-- checkout block content -->

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

<!-- js file for Stripe -->
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

<!-- checkout block content, to be injected into mycart_base.html -->
{% block checkout_content %}


<div class="col-12 col-md-8 col-lg-10 centre_alignment col_content">

    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="border-0 bg-light table_center">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0 bg-light table_center">
                    <div class="py-2 text-uppercase">Price</div>
                </th>
                <th scope="col" class="border-0 bg-light table_center">
                    <div class="py-2 text-uppercase">Quantity</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- For Loop, runs through each item in Cart -->
            {% for item in cart_items %}
            <tr>
                <th scope="row" class="border-0 table_left">
                    <div class="p-2">
                        <img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="product" width="70"
                            class="img-fluid rounded shadow-sm">
                        <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0 text-dark d-inline-block align-middle">{{ item.product.name }}</h5>
                        </div>
                    </div>
                </th>
                <td class="border-0 align-middle table_center"><strong>€ {{ item.product.price }}</strong></td>
                <td class="border-0 align-middle table_center"><strong>{{item.quantity}}</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <p>Total</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    </div>

    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <legend>Payment Details</legend>

        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="form-group col-md-6">
            {{ order_form |crispy }}
        </div>

        <div class="form-group col-md-6">
            {{ payment_form |crispy }}
        </div>

        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
    {% endblock %}