{% extends 'base.html' %}
<!-- Page title here -->
{% block page_title %}Authentic Irish Sweaters | Home {% endblock %}
<!-- Page heading here -->
{% block page_heading %}
<div>
    <p>WELCOME to the Authentic Irish Sweaters E-Store</p>
</div>
<div>
    <button type="button" class="btn btn-success top_buffer">View Authentic Irish Products</button>
</div>
{% endblock %}
<!-- About Us Content -->
{% block index_content %}

<div class="top_buffer">
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </p>
</div>

{% endblock %}

<!-- Featured Content -->
{% block featured_content %}

<div class="top_buffer">
    <h2>Featured Products</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </p>
</div>


{% endblock %}

{% block contactus_content %}

{% endblock %}