{% extends 'base.html' %}
{% load staticfiles %}

<!-- Page title here -->
{% block page_title %}Irish Sweaters | Home {% endblock %}

<!-- Page heading here -->
{% block page_heading %}
<div class="row">
    <div class="col-12 centre_alignment col_heading">
        <!-- Page Headline, to identify to User the page they are on -->
        <div class="jumbotron text-white">
            <h1 class="display-4">Welcome to the<br>Authentic Irish Sweaters Co.</h1>
            <p class="lead">Browse vintage & modern Irish Aran Jumpers & Sweaters, made by local people, right here in Ireland.</p>
            <hr class="my-4 text-white">
            <p>What are you waiting for?<br>Check out our products for sale.<br>Hit the button below:</p>
            <p class="lead">
                <a class="btn btn-success text-white" href="{% url 'all_products' %}" role="button">Browse
                    Authentic
                    Irish Products</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

<!-- About Us Content -->
{% block index_content %}
<div class="row justify-content-center" id="about">
    <div class="col-10 col-md-4 centre_alignment col_content">
        <!-- Description of Injection -->
        <h2>About Us</h2>
        <p>
            The Authentic Irish Sweater Co. was setup in 2010, in Glencar, Co. Kerry by local businessman Seamus O'Toole. His Jumpers & Sweaters are of a quintessential Irish design that perfectly compliments a smart or casual outfit. Seamus makes all his own clothing products, in the heart of the kingdom of Kerry, so you can be assured that you are buying a guarenteed Irish Product. 
        </p>
    </div>
</div>
{% endblock %}


<!-- Featured Products Content -->
{% block featured_content %}
<div class="row justify-content-center bg_image_featured ">
    <div class="col-10 col-md-6 centre_alignment col_content">
        <!-- Featured Products Injection -->
        <h2>Featured Products</h2>
        <p>Featured Products to go here...</p>
    </div>
</div>
{% endblock %}

<!-- Contact Us Content -->
{% block contactus_content %}
<div class="row justify-content-center" id="contact">
    <div class="col-10 col-md-6 centre_alignment col_content">
        <!-- Contact Us Form -->
        <h2>Contact Us</h2>
        <form>
            <div class="form-row form-custom">
                <label for="inputEmail">Email Address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" required>
            </div>
            <div class="form-row form-custom">
                <label for="inputFullName">Full Name</label>
                <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required>
            </div>
            <div class="form-row form-custom">
                <label for="inputAreaofInterest">Nature of Enquiry</label>
                <select id="inputAreaofInterest" class="custom-select" required>
                    <option value="">Select from Dropdown List</option>
                    <option value="1">General Enquiry</option>
                    <option value="2">Delivery Information</option>
                    <option value="3">Product Information</option>
                    <option value="4">Payment Information</option>
                    <option value="4">Advertise on this Website</option>
                </select>
            </div>
            <div class="form-row form-custom">
                <label for="messagearea">Message</label>
                <textarea class="form-control" id="messagearea" rows="6" placeholder="Type your Message here"
                    required></textarea>
            </div>
            <div class="form-row form-custom">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                    <label class="custom-control-label" for="customCheck1">I am not a Robot</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Send message</button>
        </form>
    </div>
</div>
{% endblock %}