{% extends 'base.html' %}

{% block page_title %}eStore | Login Page{% endblock %}

{% block page_heading %}User Page{% endblock %}

{% block content %}
<!-- Modal for Login Form -->
<div class="container">
    <div class="row">
        <div class="modal fade" id="login_modal" data-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="login_modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="login_modalLabel">e-Store says:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ login_form }}
                            <button type="submit">Login</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}