{% extends 'base.html' %}
<!-- Page title here -->
{% block page_title %}Authentic Irish Sweaters | Login Page{% endblock %}
<!-- Page heading here -->
{% block page_heading %}User Login{% endblock %}
<!-- Login block content here -->
{% block content %}
<!-- Login Form -->
<form method="POST">
    {% csrf_token %}
    {{ login_form.as_p }}
    <button type="submit" class="btn btn-danger">Login <i class="fas fa-sign-in-alt"></i></button>
</form>

<p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% endblock %}