{% extends 'mycart_base.html' %}
{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block cart_content %}


<div class="row justify-content-center">
    <!-- Return to Shop button Column -->
    <!-- Return to Shop button only appears if cart has items in it -->
    {% if product_count > 0 %}
    <div class="col-12 col-md-8 col-lg-10 centre_alignment col_content">
        <h2 class="text-dark">Want to keep shopping?</h2>
        <a class="btn btn-info text-white" href="{% url 'all_products' %}" role="button">Return to Shop</a>
    </div>
    {% endif %}
    <!-- Mycart content -->
    <div class="col-12 col-md-8 col-lg-10 centre_alignment col_content">
        {% if product_count > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-0 bg-light table_center">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light table_center">
                        <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light table_center">
                        <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light table_center">
                        <div class="py-2 text-uppercase">Amend Order</div>
                    </th>
                </tr>
            </thead>
            <!-- Table populates only if items are in cart, otherwise only button appears -->
            <tbody>
                <!-- For Loop, runs through each item in Cart -->
                {% for item in cart_items %}
                <tr>
                    <th scope="row" class="border-0 table_left">
                        <div class="p-2">
                            <img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="product" width="70"
                                class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0 text-dark d-inline-block align-middle">{{ item.product.name }}</h5>
                            </div>
                        </div>
                    </th>
                    <td class="border-0 align-middle table_center"><strong>€ {{ item.product.price }}</strong></td>
                    <td class="border-0 align-middle table_center"><strong>{{item.quantity}}</strong></td>
                    <td class="border-0 align-middle table_center">
                        <form class="text-center border border-light p-2" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon"></div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control" required="true" placeholder="Quantity">
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-edit"
                                    aria-hidden="true"></span>Amend</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
        <!-- Order Summary -->
        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
        <div class="p-4">
            <p class="font-italic mb-4">Shipping and additional costs are included in Product Prices.
            </p>
            <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total Amount
                        Due</strong>
                    <h5 class="font-weight-bold">€ {{ total }}</h5>
                </li>
            </ul><a href="/" class="btn btn-success text-white rounded-pill py-2 btn-block">Proceed to checkout</a>
        </div>
    </div>
    {% else %}
    <a class="btn btn-success text-white" href="{% url 'all_products' %}" role="button">Cart Empty - Return to Shop</a>
    {% endif %}
</div>

{% endblock %}